{% extends "base.html" %}
{# {% load event_filters %} #}
{% block heading %}
Guest Info
{% endblock %}
{% block content %}
    {% if object_list %}
        <ul class="nav nav-tabs">
            {% for event in object_list %}
                {% if event.public or user.is_authenticated %}
                    <li class="{% if forloop.first %}active{% endif %}"><a href="#{{ event.id }}" data-toggle="tab" aria-expanded="true">{{ event.short }}</a></li>
                {% endif %}
            {% endfor %}
            <li class=""><a href="#lodging" data-toggle="tab" aria-expanded="false">Lodging</a></li>
            <li class=""><a href="#registry" data-toggle="tab" aria-expanded="false">Registry</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            {% for event in object_list %}
                {% if event.public or user.is_authenticated %}
                    <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" id="{{ event.id }}">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6 text-center">
                                        <p><b>{{ event.name }} </b></p>
                                        <p>{{ event.date }} at {{event.venue}} </p>
                                        <p>{{ event.description|linebreaks }}</p>
                                        <p>{{ event.schedule|linebreaks }}</p>
                                        {# <a href="{{ event|gcal_link }}">Add to Google Calendar</a> #}

                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <b>{{ event.venue }}</b> <br>
                                        {% if event.map_link %}
                                            <a href="{{event.map_link}}" target="_blank">{{ event.address|linebreaks }}</a>
                                        {% else %}
                                            {{ event.address|linebreaks }}
                                        {% endif %} 
                                        {% if event.map_embed %}
                                            <iframe src="{{ event.map_embed }}" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if user.is_authenticated %}
                                    <div class="btn-group btn-group-justified">
                                        <a href="{% url 'weddings:event-edit' event.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Event</a>
                                        <a href="{% url 'weddings:guest-list' event.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Guest List</a>
                                        <a href="{% url 'weddings:event-delete' event.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Event</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="tab-pane fade" id="lodging">
                <div class="panel panel-default">
                    <ul class="list-group">
                    {% for lodge in lodging %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <p><b>{{ lodge.name }}</b></p>
                                    <p>Phone: {{ lodge.phone }}</p>
                                    {{ lodge.description|linebreaks }} <br>
                                    <a href="{{ lodge.url }}" target="_blank">Website</a>

                                </div>
                                <div class="col-sm-6 text-center">
                                    <b>{{ lodge.name }}</b><br>
                                    {% if lodge.map_link %}
                                        <a href="{{lodge.map_link}}" target="_blank">{{ lodge.address|linebreaks }}</a>
                                    {% else %}
                                        {{ lodge.address|linebreaks }}
                                    {% endif %} 
                                    {% if lodge.map_embed %}
                                        <iframe src="{{ lodge.map_embed }}" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    {% endif %}
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="btn-group btn-group-justified">
                                    <a href="{% url 'weddings:lodging-new' %}" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Lodging</a>
                                    <a href="{% url 'weddings:lodging-edit' lodge.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Lodging</a>
                                    <a href="{% url 'weddings:lodging-delete' lodge.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Lodging</a>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="registry">
                <div class="panel panel-default">
                    <ul class="list-group">
                    {% for registry in registries %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <b> {{ registry.name }} </b>
                                    {{ registry.phone }}
                                    {{ registry.description|linebreaks }} <br>
                                    <a href="{{ registry.url }}">Website</a>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <a href="{{ registry.url }}" target="_blank"><img src="/media/{{ registry.image }}" width="200" alt="{{registry.name}}"></a>
                                </div>
                            </div>                            
                            {% if user.is_authenticated %}
                                <div class="btn-group btn-group-justified">
                                    <a href="{% url 'weddings:registry-new' %}" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Registry</a>
                                    <a href="{% url 'weddings:registry-edit' registry.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Registry</a>
                                    <a href="{% url 'weddings:registry-delete' registry.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Registry</a>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <p>No Events are available.</p>
    {% endif %}
{% endblock %}