{% extends "base.html" %}
{% load bootstrap3 %}
{% block heading %}
RSVP
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ form.instance.combined_name }}
        </div>
        <div class="panel-body">
            <form action="" method="post" class="form-horizontal">
                <ul class="list-group">
                    {% csrf_token %}
                    {{ form }}        
                    {% for formset in inlines %}
                        {{ formset.id }}
                        {{ formset.management_form}}
                        {%for subform in formset%}
                            <li class="list-group-item">
                                <a href="/events/{{subform.instance.event.id}}/" target="_blank"><h4>{{ subform.instance.event }} </h4></a>
                                {{subform.instance.event.date}} at {{ subform.instance.event.venue}}<br>
                                <a href="/events/{{subform.instance.event.id}}/" target="_blank">Event Details</a>
                                {% bootstrap_form subform layout='horizontal' %}  
                            </li>
                        {% endfor %}
                    {% endfor %}
                    {% bootstrap_button button_type='submit' content='Save' button_class="btn-primary btn-block" %}
                </ul>
            </form>
        </div>
    </div>    
{% endblock %}