{% extends "base.html" %}

{% block content %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ guest.combined_name }}</div>
      <div class="panel-body">
        <ul>
        <li>Guest Name: {{ guest.full_name }}</li>
        {% if guest.first_name_2 %}
        	<li>Additional Guest Name: {{ guest.full_name_2 }}</li>
        {% endif %}
        <li>Email: {{ guest.email }}</li>
        <li>Address: {{ guest.address }}</li>
        <li>City: {{ guest.city }}</li>
        <li>State: {{ guest.state }}</li>
        <li>Zip: {{ guest.zip }}</li>
        <li>Side: {{ guest.get_side_display }}</li>
        <li>Relation: {{ guest.get_relation_display }}</li>

    </ul>
      </div>
    </div>
{% endblock %}