{% extends "base.html" %}

{% block content %}
	<h2>Details</h2>
	<div class="panel panel-default">
	    <div class="panel-heading"><h4>{{ event.name }}</h4></div>
	        Date: {{ event.date }} <br>
            Description:  {{ event.description }} <br>
            Location: {{ event.location_address }} <br>
            Schedule:  {{ event.schedule }} <br>
	        <a href="{% url 'weddings:guestlist' event.id %}">See The Guest List</a>
	    </div>
	</div>
	<a href="{% url 'weddings:event-new' %}" class="btn btn-default">Edit Event</a>
	<a href="{% url 'weddings:deleteevent' event.id %}" class="btn btn-danger">Delete Event</a>
{% endblock %}